<a href="https://colab.research.google.com/github/feliciahf/data_science_exam/blob/main/XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# XG Boost Model

From this article: https://suatatan.com/posts/sklearn_xgboost_tc/

In [1]:
#Import relevant packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from xgboost import XGBClassifier
from sklearn.metrics import classification_report

##The data

In [2]:
#import csv file as dataframe (from GitHub repo)

url = 'https://raw.githubusercontent.com/feliciahf/data_science_exam/main/hippoCorpusV2.csv'
df = pd.read_csv(url, encoding='latin1', delimiter=",")
# remove columns with uninformative information (AssignmentId, WorkerId, recAgnPairId, recImgPairId)
uninformative_cols = ["AssignmentId", "WorkerId", "recAgnPairId", "recImgPairId"]
df = df.drop(columns=uninformative_cols)
df = df[df.memType != 'retold']
df

      WorkTimeInSeconds  ...  timeSinceEvent
0                  1641  ...            90.0
1                  1245  ...            90.0
2                  1159  ...           150.0
3                   500  ...           150.0
4                  1074  ...            30.0
...                 ...  ...             ...
6849                926  ...           150.0
6850               3044  ...           570.0
6851               1008  ...            21.0
6852               1462  ...            14.0
6853               1662  ...            49.0

[5535 rows x 19 columns]

In [3]:

# make labels column using numerical values
df.memType = pd.Categorical(df.memType)
df['label'] = df.memType.cat.codes

# story type corresponding to label
print(f"Label 0: {df.loc[df['label'] == 0,'memType'].unique()}")
print(f"Label 1: {df.loc[df['label'] == 1,'memType'].unique()}")

Label 0: ['imagined']
Categories (1, object): ['imagined']
Label 1: ['recalled']
Categories (1, object): ['recalled']

In [4]:
cv = CountVectorizer(max_features=5000, encoding="utf-8",  
      ngram_range = (1,3),  
      token_pattern = "[A-Za-z_][A-Za-z\d_]*")
X = cv.fit_transform(df.story).toarray()
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, 
      test_size=0.33, 
      random_state=0)
count_df = pd.DataFrame(X_train, columns=cv.get_feature_names())
count_df['label'] = y_train

df.sample(5)

      WorkTimeInSeconds  annotatorAge  ... timeSinceEvent label
6809               1446          55.0  ...           42.0     1
1335               1054          25.0  ...          120.0     0
2859               1264          30.0  ...          120.0     1
477                2689          30.0  ...           60.0     0
1712               1254          35.0  ...           63.0     0

[5 rows x 20 columns]

In [8]:
# fit model to training data
model = XGBClassifier()
model.fit(X_train, y_train)

# how well model does on training data
yhat = model.predict(X_train)
train_pred = [round(value) for value in yhat]
acc_train = accuracy_score(y_train, train_pred)
print("Accuracy on train data: %.2f%%" % (acc_train * 100.0))

# make predictions on test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions on test data
accuracy = accuracy_score(y_test, predictions)
print("Accuracy on test data: %.2f%%" % (accuracy * 100.0))

Accuracy on train data: 81.85%
Accuracy on test data: 69.18%

In [12]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.67      0.75      0.71       915
           1       0.71      0.64      0.67       912

    accuracy                           0.69      1827
   macro avg       0.69      0.69      0.69      1827
weighted avg       0.69      0.69      0.69      1827