<a href="https://colab.research.google.com/github/feliciahf/data_science_exam/blob/main/XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#From this article: https://suatatan.com/posts/sklearn_xgboost_tc/

In [44]:
#Import relevant packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import CountVectorizer
from xgboost import XGBClassifier

##The data

In [50]:
#import csv file as dataframe (from GitHub repo)

url = 'https://raw.githubusercontent.com/feliciahf/data_science_exam/main/hippoCorpusV2.csv'
df = pd.read_csv(url, encoding='latin1', delimiter=",")
# remove columns with uninformative information (AssignmentId, WorkerId, recAgnPairId, recImgPairId)
uninformative_cols = ["AssignmentId", "WorkerId", "recAgnPairId", "recImgPairId"]
df = df.drop(columns=uninformative_cols)
df = df[df.memType != 'retold']
df

      WorkTimeInSeconds  ...  timeSinceEvent
0                  1641  ...            90.0
1                  1245  ...            90.0
2                  1159  ...           150.0
3                   500  ...           150.0
4                  1074  ...            30.0
...                 ...  ...             ...
6849                926  ...           150.0
6850               3044  ...           570.0
6851               1008  ...            21.0
6852               1462  ...            14.0
6853               1662  ...            49.0

[5535 rows x 19 columns]

In [54]:

# make labels column using numerical values
df.memType = pd.Categorical(df.memType)
df['label'] = df.memType.cat.codes

# story type corresponding to label
print(f"Label 0: {df.loc[df['label'] == 0,'memType'].unique()}")
print(f"Label 1: {df.loc[df['label'] == 1,'memType'].unique()}")

Label 0: ['imagined']
Categories (1, object): ['imagined']
Label 1: ['recalled']
Categories (1, object): ['recalled']

In [55]:
cv = CountVectorizer(max_features=5000, encoding="utf-8",  
      ngram_range = (1,3),  
      token_pattern = "[A-Za-z_][A-Za-z\d_]*")
X = cv.fit_transform(df.story).toarray()
y = df['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, 
      test_size=0.33, 
      random_state=0)
count_df = pd.DataFrame(X_train, columns=cv.get_feature_names())
count_df['label'] = y_train

df.sample(5)

      WorkTimeInSeconds  annotatorAge  ... timeSinceEvent label
1257               1003          18.0  ...           14.0     0
3486                509          30.0  ...           90.0     0
3442                719          35.0  ...           35.0     1
5613                995          35.0  ...          150.0     1
141                 913          30.0  ...           60.0     0

[5 rows x 20 columns]

In [56]:
# fit model no training data

model = XGBClassifier()
model.fit(X_train, y_train)

# make predictions for test data

y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

# evaluate predictions

accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 69.18%